* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inria Sans", sans-serif;
    background: #207183;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 5rem;
}

.icone {
    position: absolute;
    width: 34px;
    height: 30px;
    top: 36px;
    left: 28px;
    background-color: transparent;
    border: none;
}

.botao {
    width: 34px;
    height: 30px;
    margin-top: -72px;
    margin-left: -626px;
}

.menu {
    width: 200px;
    height: 200px;
    background-color: #BCE9F3;
    font-family: "Bebas Neue";
    font-size: 15px;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 300px;
    background: #D9D9D9;
    font-family: "Bebas Neue";
    font-size: 23px;
    color: #113C46;
    text-align: left;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 1000; /* Ensure menu is on top */
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #113C46;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.chart {
    padding: 5rem;
    border: 1px;
    border-radius: 2rem;
    background-color: #ADE0EB;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    font-family: "Inria Sans", sans-serif;
}

.chart2 {
    padding: 5rem;
    border: 1px;
    border-radius: 2rem;
    background-color: #ADE0EB;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    font-family: "Inria Sans", sans-serif;
}

.KPIs {
    position: absolute;
    width: 280px;
    height: 600px;
    left: 709px;
    top: 95px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center; 
}

.box {
    width: 300px;
    height: 290px;
    background: #BCE9F3;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    margin-bottom: 20px;
    align-content: center;
}

.p {
    width: 300px;
    height: 60px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #113C46;
    display: flex; 
    justify-content: center;
    align-items: flex-start;
}

.KPIs2 {
    position: absolute;
    width: 280px;
    height: 192px;
    left: 1024px;
    top: 95px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
}

.box2 {
    width: 280px;
    height: 192px;
    background: #BCE9F3;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    margin-bottom: 50px;
}

.p2 {
    width: 280px;
    height: 60px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #113C46;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
}

.H1  {
    width: 100%; 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    justify-content: center;
    line-height: 51px; 
    text-align: center; 
    color: #113C46;
}

.h1, .h2 {
    width: 100%; 
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 51px;
    text-align: center;
    color: #113C46;
}
