body {
    height: 665vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ADE0EB 0%, #207082 12%, #0E3139 25%, #07191D 66.5%, #113D46 74.5%, #2F7E8F 84.5%, #A3D8E4 94.5%);
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inria-sans-regular {
    font-family: "Inria Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cabecalho1,
.cabecalho2,
.cabecalho3,
.cabecalho4,
.cabecalho5 {
    position: absolute;
    height: 22px;
    top: 40px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #207183;
    padding: 0;
    margin: 0;
}

.cabecalho1:hover,
.cabecalho2:hover,
.cabecalho3:hover,
.cabecalho4:hover,
.cabecalho5:hover {
    font-size: 32px;
    color: #1a5a68;
    background: none;
}

.cabecalho1 {
    left: 626px;
}

.cabecalho2 {
    left: 726px;
}

.cabecalho3 {
    left: 826px;
}

.cabecalho4 {
    left: 926px;
}

.cabecalho5 {
    left: 1026px;
}


.linha {
    position: absolute;
    width: 80%;
    height: 0;
    left: 10%;
    top: 70px;
    border: 1px solid #207082;
}

.titulo {
    position: absolute;
    width: 80%;
    height: auto;
    left: 9%;
    top: 60px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 430px;
    line-height: 1;
    display: flex;
    align-items: center;
    text-align: center;
    color: #207183;
    text-shadow: 0px 10px 9px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.img {
    position: absolute;
    width: 80%;
    height: auto;
    left: 38%;
    top: 235px;
    background-size: cover;
}

.img1 {
    position: absolute;
    left: 550px;
    top: 1330px;
}

.img2 {
    position: absolute;
    left: 440px;
    top: 955px;
    width: 600px;
    height: 500px;
}

.img3 {
    position: absolute;
    left: -20px;
    top: 2720px;
    width: 380px;
}

.img4 {
    position: absolute;
    width: 400px;
    height: 260px;
    left: 0px;
    top: 3095px;
}

.img5 {
    position: absolute;
    left: 400px;
    top: 3700px;
    width: 655px;
    height: 425px;
}

.slogan {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    top: 484px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
}

.sobre {
    top: 770px;
}

.historia {
    top: 1405px;
}

.teste {
    top: 4500px;
}

.subtitulo1 {
    position: absolute;
    width: 381px;
    height: 67px;
    left: 95px;
    top: 775px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8FD4DF;
}

.subtitulo2 {
    position: absolute;
    width: 381px;
    height: 67px;
    left: 95px;
    top: 1405px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #8FD4DF;
}

.texto1D {
    position: absolute;
    width: 1200px;
    height: 136px;
    left: 100px;
    top: 963px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.texto1E {
    position: absolute;
    width: 500px;
    height: 136px;
    left: 95px;
    top: 1505px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.texto2D {
    position: absolute;
    width: 805px;
    height: 136px;
    left: 95px;
    top: 1710px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.texto2E {
    position: absolute;
    width: 805px;
    height: 136px;
    left: 95px;
    top: 2100px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.texto3E {
    position: absolute;
    width: 1137px;
    height: 136px;
    left: 95px;
    top: 2345px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.texto3D {
    position: absolute;
    width: 980px;
    height: 136px;
    left: 350px;
    top: 2850px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.texto4E {
    position: absolute;
    width: 1070px;
    height: 136px;
    left: 95px;
    top: 3445px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #ADE0EB;
    mix-blend-mode: normal;
}

.slogan2 {
    position: absolute;
    width: 80%;
    height: auto;
    left: 10%;
    top: 4300px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #BCE9F3;
    mix-blend-mode: soft-light;
    flex-wrap: nowrap;
    justify-content: center;
}

.button {
    position: absolute;
    width: 125px;
    height: 36px;
    left: 670px;
    top: 4400px;
    background: #1a5a68;
    border-radius: 10px;
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 33px;
    display: inline-flex;
    align-items: center;
    color: #BCE9F3;
    mix-blend-mode: normal;
    outline: none;
    border: 0px;
    justify-content: center;
    align-items: center;
}

.carousel-container {
    position: relative;
    width: 745px;
    overflow: hidden;
    border: none;
    border-radius: 10px;
    left: 350px;
    top: 4500px;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 700px;
    border-radius: 10px;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}