* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.icone {
    position: absolute;
    width: 34px;
    height: 30px;
    top: -60px;
    left: 115px;
}

.section {
    position: relative;
    width: 100%;
    min-height: 192vh;
    padding: 100px;
    z-index: -2;
    background: #A5A5A0;
}

.container {
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: 1150px;
    position: absolute;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.rectangles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 1370px;
    height: 100vh;
    z-index: -1;
}

.rectangle1,
.rectangle2,
.rectangle3 {
    width: 29px;
    height: 1354px;
    background: #8C2828;
    margin-bottom: 2px;
    margin-left: 13px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    justify-content: flex-end;
    z-index: 0;
}


.rectangle3 {
    width: 29px;
    height: 1354px;
    background: #8C2828;
    left: 2px;
    z-index: -1;
}


.img {
    margin-left: -132px;
    margin-bottom: 40px;
    margin-top: 21px;
}


.title {
    position: absolute;
    top: 20px;
    right: 165px;
    font-family: "Bebas Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 1;
    /* Altura da linha reduzida */
    text-align: right;
    color: #000000;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    white-space: pre-line;
    /* Garante que as quebras de linha sejam respeitadas */
    width: 725px;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: -205px;
    display: flow;
}

.small-text {
    color: #000000;
    display: block;
    line-height: 0.8;
    /* Altura da linha específica para o texto menor */
}

.texto {
    color: #E4E4E4;
    font-family: "Inria Sans";
    font-size: 20px;
    width: 210px;
    text-align: center;
}

.informacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 113px;
    justify-content: center;
    margin-top: 29px;
}

.subtitulo {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.informacoes div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-container {
    position: absolute;
    width: 469px;
    height: 298px;
    font-family: 'Bebas Neue';
    top: 900px;
    color: #373737;
    left: 50%;
    transform: translateX(-50%);
}

:focus {
    outline: none;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: 25px;
    margin-left: 160px;
}


.icone {
    position: relative;
}

#listaTelas {
    display: none;
    /* Ocultar inicialmente */
    position: absolute;
    top: 20px;
    /* Ajuste conforme necessário */
    left: 50px;
    /* Ajuste conforme necessário */
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: none;
    outline: none;
    width: 205px;
}

#listaTelas ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#listaTelas li {
    padding: 8px 0;
    border-bottom: 0;
    font-family: "Bebas Neue", sans-serif;
}

#listaTelas li:last-child {
    border-bottom: none;
}